/* Home.scss */

/* Keyframes for rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Class for rotating logo */
.rotating-logo {
  animation: rotate 18s linear infinite; /* Adjust duration and timing as needed */
}

/* Additional styles (you can adjust these as necessary) */
.home-container {
  padding: 20px;
}

.carousel-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.home-container__badge-names {
  padding: 20px;
  height: 400px;
  // overflow: hidden;
}

.home-container__lender-CTA,
.home-container__borrower-CTA {
  margin-top: 40px;
}
