
.loan-proposal-form-container {
  padding: 20px;
}

.loan-proposal-paper {
  padding: 40px;
  margin: 6em 0;
}

.borrower-info {
  color: rgb(0, 0, 0);
}

.form-box {
  padding: 20px;
}

.form-title {
  margin: 16px;
  text-align: center;
  padding: 10px;
  color: green;
}

.input-field {
  margin: 10px 0;
}

.submit-button {
  background-color: green;
  &:disabled {
    background-color: lightgray;
  }
}

.error-message {
  color: red;
  font-weight: bold;
}

.success-message {
  color: green;
  font-weight: bold;
}

.borrower-details-paper {
  margin-top: 2em;
  padding: 29px;
  height: 40em;
  width: 30em;
}

.borrower-info-title {
  padding-bottom: 2em;
  font-style: underline;
  text-align: center;
}

.disclaimer {
  padding-top: 8em;
  color: rgb(97, 96, 96);
}

.borrower-details {
  margin-top: 3em;
  text-align: center;
  display: grid;
  gap: 2em;

   em {
    color: green;
   }
}
