.network {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: rgba(18, 58, 116, 0.659);
    
  }
  
  .network-list {
   list-style: none;
    padding: 0.2em;
    display: flex;
    gap: 96px;
  }
  
  .network-list li {
    display:;
  }
  
  .network-list a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .network-list a:hover {
    color: #007bff; 
  }
  
  .network-list svg {
    width: 24px;
    height: 24px;
  }
  