// LenderDashboard.scss

$primary-color: #36c856; // Change to your primary color
$secondary-color: #b7e98f; // Change to your secondary color
$background-color: #f6fbf0; // Background color

.lender-dashboard {
  background-color: $background-color;
  padding: 20px;
  min-height: 100vh;
  
  .app-bar {
    margin: 18px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    border-radius: 10px;
    .welcome-title {
      margin: 0 3em;
    }
    
    .total-loan-volume {
      margin: 16px;
      padding: 16px;
    }
    
    .add-loan-button {
      margin: 16px;
    }
  }
  
  .search-bar {
    margin: 3em 20em;
    width: 40%;
    place-self: center;
    min-height: 1vh; 
  }

  
  .borrowers-table,
  .loan-requests-table,
  .loan-listings-table {
    display: grid;
    text-align: center;
    margin: 16px;
    padding: 18px;
    background-color: white;
    gap: 10px;
    
    .table-header {
      background-color: $primary-color;
      color: white;
      text-align: center;

      td {
        text-align: center;

      }
      th {
        text-align: center;

      }
    }
    
    .table-body {
      td {
        text-align: center;
      }
    }
    
    .action-buttons {
      display: flex;
      justify-content: center;
      button {
        margin: 0 8px;
      }
    }
  }
}
